*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5B9DED;
}

#flex-container-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}

.container-copleros{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 400px;
    border-bottom:solid 1px grey;
    height: 140px;
    align-items: center;
    justify-content: start;
}

img{
    border-radius: 100%;
    height: 100px;
    margin: 20px 18px;
}

.text_p{
    display: flex;
    flex-direction: column;
    line-height: 0.1em;
    margin-top: 1px;
}

p{
    color: #BAC4D7;
    margin-top: 5px;
}

h2{
    color: #565759;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
